*{
	margin: 0;
	padding: 0;
}
a{
	color: white;
	text-decoration: none;
}
.header{
	background-color: #2d3e50;
	color: white;
	display: flex;
	position: fixed;
	width: 100%;
	top: 0;
}
.header h2 {
	padding: 15px;
	font-weight: normal;
}
.header ul li a {
	color: #328dd6;
}
.header ul .active a {
	color: white;
}
ul {
	list-style-type: none;
}
li {
	display: inline-block;
	padding: 15px
}

.right {
	float: right;
}
.center-screen {
	background-color: #328dd6;
	padding: 10% 10%;
	margin-top: 57px;
}
.center-screen h1 {
	color: white;
	font-weight: normal;
	border: 2px solid white;
	display: inline-block;
	padding: 30px 15%;
	font-size: 50px;
}
.center-screen p {
	color: white;
	padding: 25px;
	font-size: 12px;
}
.center-screen button {
	background-color: white;
	color: blue;
	border-radius: 4px;
	padding: 10px 20px;
	border: none;
}
.center {
	text-align: center;
}
.center-screen h4 {
	margin: 20px;
}
.display-flex {
	display: flex;
}
.auto-flex {
	flex: auto;
}
.about h5 {
	color: #328dd6;
}
.about p {
	margin-top: 20px;
}
.margin {
	margin: 30px;
}
.container {
	background-color: #2d3e50;
	color: white;
	padding: 60px 0;
}
.container img { 
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}
#images {
	float: left;
	width: 50%;
}
.container h4 {
	margin-bottom: 20px; 
}
.block:after,.block:before{
	content: "";
	display: table;
}
.block:after{
	clear:both;
}
.sign-up-form {
	width: 40%;
}
.sign-up input {
	display: block;
	width: 80%;
	margin-bottom: 20px;
	margin-top: 5px;
}
.sign-up input[type = "submit"] {
	width: 14%;
	background-color: #328dd6;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
}
.sign-up h4 {
	margin: 15px 0px;
}
.footer {
	background-color: #2d3e50;
	color: white;
	display: block;
	padding: 20px 0px;